<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kawa</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
</head>

<body>