<%- include('head') %>
    <header>
        <div class="header-mark">川</div>
        <div class="room-info">Room /</div>
        <div class="header-avatar"></div>
    </header>
    <main>
        <section id="chat-app" style="display: inline;">
            <div class="chat-container">
                <div id="message-feed"></div>
                <div class="input-container">
                    <input type="text" name="message" id="message-input" placeholder="Click here to enter a message."/>
                </div>
            </div>
        </section>
    </main>
<%- include('foot') %>
