* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: 100%;
}

section {
  display: block;
  height: 100%;
}

#room {
  height: 100%;
}

header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(to right, #2029a3 0%,#ff3030 100%);
}

.room-info {
  color: white;
  margin-top: 22px;
  display: inline-block;
  width: 80px;
}

.header-mark {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  padding: 0 1rem;
  color: #ffffff;
  z-index: 200;
  margin-top: 5px;
}

.header-avatar {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
}

.header-avatar img {
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 5px;
}

/* message container */

#message-feed {
  padding-top: 60px;
  overflow: auto;
  height: 95%;
}


/* chat elements */

.chat-container {
  height: 100%;
}
.chat-item {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
    width: 99%;
    height: auto;
    display: flex;
    min-width: 500px;
    border-radius: 5px;
    margin-left: 5px;
}

.message-avatar {
  padding: 10px;
}
.message-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.message-details {
    padding: 10px;
    width: 95%;
}

.message-header {
  display: inline-block;
  width:100%;
}

.message-username {
  color: #4e4e4e;
  font-weight: 600;
  float: left;
}

.message-date {
  float: right;
  color: #afafaf;
}

.message-text {
  display: inline-block;
  padding-top:5px;
}
.input-container {
  position: absolute;
  top: 95%;
    width: 100%;
    height: 30px;
    min-width: 600px;
}
#message-input {
    width: 95%;
    height: 100%;
    margin: 0px 5px 0 20px;
    border: 1px solid #cccccc;
    font-size: 15px;
    display: block;
    margin: 0px auto;
    padding: 5px;
}
#message-input:focus{
  outline: none;
}